<section class="section hero">
  <div class="grid">
    <div class="col">
      <h1 class="title">
        <span>{{ 'hero.title.1' | t }} </span>
        <span class="gradient-text">{{ 'hero.title.q' | t }}</span>,
        <span> {{ 'hero.title.2' | t }}</span>
        <span class="block">{{ 'hero.title.3' | t }}</span>
      </h1>
      <p class="lead">{{ 'hero.text' | t }}</p>
      <div class="actions">
        <a class="btn btn-primary">{{ 'hero.learnMore' | t }}</a>
        <a class="btn btn-outline">{{ 'hero.viewArchitecture' | t }}</a>
      </div>
    </div>
    <div class="col center">
      <div class="orb">
        <div class="inner">Q</div>
      </div>
      <div class="dot dot-1 float"></div>
      <div class="dot dot-2 float"></div>
    </div>
  </div>
</section>